#mainMessages{
    overflow-y:scroll;
    height: 84vh;
    flex: 1;
    font-family: 'roboto';
}
#mainMessages::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  

  
#mainMessages::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #33D1FF;  /* creates padding around scroll thumb */
  }
#main{
    flex:1;
    margin: 0;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    padding: .5em;
}
#myForm{
    display: flex;
}
#main:focus{
    border-color: lightskyblue
}
#main{
    background-color: #eaeaea;
    border-radius: 20px;
    padding-left: 10px;
}

#btnMain{
    background-color: #eaeaea;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border-width: 0 0 2px;
    border-color: lightskyblue;
    margin-left: 5px;
}