body{
  font-family: 'roboto';

}
*{
  outline: none;
}
.main{
  display: flex;
  flex-direction: column;
  height: 97vh;
}


#mainMessages{
    overflow-y:scroll;
    flex: 1;
    border-radius: 10px 20px 20px 10px;
}
#mainMessages::-webkit-scrollbar {
    width: 5px;               
  }
#mainMessages::-webkit-scrollbar-thumb {
    border-radius: 20px;      
    border: 3px solid #33D1FF; 
  }
.footer{
  margin-top:20px;
}

#main{
    flex:1;
    margin: 0;

    border-width: 0 0 2px;
    border-color: gray;
    padding: .5em;
    background-color: #eaeaea;
    border-radius: 20px;
    padding-left: 10px;
  }
#main:focus{
  border-color: lightskyblue
}
#myForm{
  display: flex;
  margin-top: 10px;
}
#btnMain{
    background-color: #eaeaea;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border-width: 0 0 2px;
    border-color: lightskyblue;
    margin-left: 5px;
}
#sendIcon {
    width: 22px;
    height: 18px;
    margin-top: 5px;
    margin-left: 0px;
  }
ion-icon{
    transform: translate(0, 15%);
    color: #33D1FF;
}

.clientMessageBox{
  margin-top: 10px;
  background-color: #f5f5f5;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  padding-block: 5px;
  display: flex;
  flex-direction: column;
  border-top-left-radius:0 ;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0px 1px 3px 2px lightblue;
  margin-bottom: 10px;
}
.clientName{
  font-variant:'small-caps'; 
  font-size: 12px;
  color: #1cb8e7;
  font-weight: 500;
}
.clientMessage{
  padding-left: .5em;
  font-size: 14px;
  word-wrap: break-word;
}

.personalMessageBox{
  margin-top: 10px;
  padding-top: 5px;
  background-color: #4ad5ff65;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  padding-block: 5px;
  display: flex;
  flex-direction: column;
  border-top-right-radius:0 ;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0px 1px 3px 2px lightgray;
  margin-bottom: 10px;
}
.personalMessage{
  padding-left: .5em;
  font-size: 14px;
  word-wrap: break-word;
  text-align: end;
}
.separator{
  width: 80%; height: .5px; background-color: #dadada50;
}
time{
  font-size: 10px;
  color: gray;
}
.timebox{
  display:flex;
  flex-direction: row-reverse;
}
#grppo{
    margin-top: -5px;
}

#writtingSpan{
  font-size: 12;
  font-variant: small-caps;
  color: lightslategray;
  background-color: #ffffff55;
  border-radius: 5px;
  position: absolute;
  transform: translate(5%, -120%);
}
